:root {
  /* Color */
  --black-color: #0b2239;
  --white-color: #ffffff;
  --dark-gray-color: #49484a;
  --light-gray-color: #cfcfcf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jua", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background: rgb(148, 187, 233);
  background: linear-gradient(
    319deg,
    rgba(148, 187, 233, 1) 0%,
    rgba(247, 250, 254, 1) 50%,
    rgba(238, 174, 202, 1) 100%
  );
  color: var(--black-color);
}

ul {
  list-style: none;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid var(--light-gray-color);
  background: none;
  color: var(--black-color);
  caret-color: var(--black-color);
}

input[type="text"]:focus {
  outline: none;
}

button {
  border: none;
  background: none;
}

h1 {
  font-size: 7rem;
}

span {
  cursor: default;
}

/* 시계 in body */
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.clock .detail {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 2.5rem;
}

.clock .detail .detail-meridiem {
  border-bottom: solid 1px var(--light-gray-color);
}

/* 본문 in body */
main {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: calc(100vh - 350px);
  padding: 20px;
  background-color: var(--white-color);
  border-radius: 20px;
}

/* 사용자 입력 in main */
/* (로그아웃) */
main .form-user-logout {
  align-items: flex-end;
  font-size: 1.5rem;
}

main .form-user-logout .input-user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 0.5rem;
}

main .form-user-logout .input-user #name {
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
}

main .form-user-logout .btn-login,
.form-list .btn-add {
  width: 50px;
  height: 1.5rem;
  border: 2px solid var(--black-color);
  border-radius: 5px;
  background: var(--black-color);
  color: var(--white-color);
  text-align: center;
  line-height: 1.5rem;
}

/* (로그인) */
main .user-login {
  flex-direction: column;
  font-size: 1.5rem;
}

main .user-login .info {
  display: flex;
  align-items: center;
  width: fit-content;
}

main .user-login .info .btn-logout {
  display: none;
  margin-left: 10px;
  font-size: 20px;
  color: var(--dark-gray-color);
}

main .user-login .info .delete.show {
  display: block;
}

main .user-login .sign {
  font-size: 1rem;
  color: var(--dark-gray-color);
}

/* 리스트 입력 in main */
main .form-list {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
}

main .form-list .input-list {
  margin-right: 1rem;
}

main .form-list .input-list label {
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

/* JS 파일 수정 후, 다시 확인
main .form-list .btn-add {
} */

/* 리스트 내용 in main */
main .ul-list {
  width: 100%;
  overflow-y: scroll;
}

/* (리스트 스크롤바) */
main .ul-list::-webkit-scrollbar {
  width: 10px;
  background: none;
}

main .ul-list::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: var(--light-gray-color);
  border-radius: 5px;
}

/* (리스트 아이템) */
main .ul-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 100px;
  margin-top: 20px;
  padding: 10px;
  border: solid 1px var(--light-gray-color);
  border-radius: 10px;
}

/* (체크 박스) */
main .ul-list li div {
  width: 20px;
  height: 20px;
  border: solid 1px var(--light-gray-color);
  border-radius: 5px;
  background: none;
  text-align: center;
}

main .ul-list li div i {
  font-size: 5px;
  color: var(--white-color);
}

main .ul-list li div.toggled {
  background-color: green;
}

/* (할일 이름) */
main.ul-list li span {
  width: 100%;
  margin: 0 10px;
  text-align: start;
  text-decoration: none;
  color: var(--black-color);
}

main .ul-list li span.toggled {
  text-decoration: line-through;
  color: var(--dark-gray-color);
}

/* (할일 삭제 버튼) */
main .ul-list button {
  width: 20px;
  height: 20px;
}

/* 날씨 in body */
.weather {
  position: absolute;
  top: 10px;
  right: 30px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.weather .weather-icon {
  margin: 5px;
}

.form,
.greeting {
  display: none;
}

.showing {
  display: flex;
}

@media screen and (min-width: 1010px) {
  body {
    flex-direction: row;
  }

  main {
    height: 100%;
  }

  main .form-user-logout .input-user {
    flex-direction: row;
  }

  main .form-user-logout .input-user #name {
    margin-left: 0.5rem;
  }

  main .ul-list {
    width: 40%;
    height: 100%;
  }

  .weather {
    top: auto;
    bottom: 10px;
    left: 20px;
    height: fit-content;
  }
}
