:root {
  /* Color */
  --black-color: #0b2239;
  --white-color: #ffffff;
  --gray-color: #49484a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Concert One", cursive;
}

body {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background: rgb(148, 187, 233);
  background: linear-gradient(
    319deg,
    rgba(148, 187, 233, 1) 0%,
    rgba(247, 250, 254, 1) 50%,
    rgba(238, 174, 202, 1) 100%
  );
  color: var(--black-color);
}

ul {
  list-style: none;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid var(--black-color);
  background: none;
  color: var(--black-color);
  caret-color: var(--black-color);
}

input[type="text"]:focus {
  outline: none;
}

button {
  border: none;
  background: none;
}

h1 {
  font-size: 132px;
}

h4 {
  font-size: 36px;
}

/* 시계 in body */
.js-clock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.js-clock .detail {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 40px;
}

.js-clock .detail span:nth-child(1) {
  padding-bottom: 10px;
  border-bottom: solid 1px var(--gray-color);
}

/* list */
.list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 40%;
  margin: 10px;
  padding: 30px;
  background-color: var(--white-color);
  border-radius: 20px;
}

/* 사용자 입력 in list */
.list .js-form {
}

/* 리스트 입력 in list */
.list .js-toDoForm {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.list .js-toDoForm label {
  margin: 5px;
  font-size: 24px;
}

/* 리스트 내용 in list */
.list .js-toDoList {
  margin: 10px 0;
}

.list .js-toDoList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border: solid 1px var(--gray-color);
  border-radius: 10px;
}

.list .js-toDoList li div {
  width: 20px;
  height: 20px;
  border: solid 1px var(--gray-color);
  border-radius: 5px;
}

.list .js-toDoList li span {
  width: 100%;
  margin: 0 5px;
  text-align: start;
}

.list .js-toDoList li button {
  width: 20px;
  height: 20px;
}

/* 날씨 in body */
.js-weather {
  position: absolute;
  bottom: 10px;
  left: 30px;
  display: flex;
  align-items: center;
}

.js-weather .icon {
  margin: 5px;
}

.form,
.greeting {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
